.hr-type-1{
    border-width: 3px;
}
.hr-type-2{
    border-width: 1px;
}
.header{
    height: 50px;
    background-color: aqua;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.header div{
    display: inline;
}
.header .userinfo{

    float: right;
}